<h1><%= @vet.first_name %> <%= @vet.last_name %></h1>

<p>Email: <%= @vet.email %></p>
<p>Phone: <%= @vet.phone %></p>
<p>Specialization: <%= @vet.specialization %></p>

<h2>Appointments</h2>

<ul>
  <% @vet.appointments.each do |appointment| %>
    <li>
      <%= link_to "#{formatted_datetime(appointment.date)} - #{appointment.reason}", appointment_path(appointment) %>
    </li>
  <% end %>
</ul>

<div class="d-flex gap-2 mt-3">
  <%= link_to "Back", vets_path, class: "btn btn-outline-secondary" %>
  <%= link_to "Edit", edit_vet_path(@vet), class: "btn btn-secondary" %>
  <%= button_to "Delete", @vet, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-danger" %>
</div>