<h1>Appointment</h1>

<p>Date: <%= formatted_datetime(@appointment.date) %></p>
<p>Reason: <%= @appointment.reason %></p>
<p>Status: <%= appointment_status_text(@appointment.status) %></p>

<p>
  Pet:
  <%= link_to @appointment.pet.name, pet_path(@appointment.pet) %>
</p>

<p>
  Vet:
  <%= link_to "#{@appointment.vet.first_name} #{@appointment.vet.last_name}", vet_path(@appointment.vet) %>
</p>

<h2>Treatments</h2>

<%= link_to "New Treatment", new_appointment_treatment_path(@appointment), class: "btn btn-primary mb-3" %>

<ul>
  <% @appointment.treatments.each do |treatment| %>
    <li class="mb-2">
      <strong><%= treatment.name %></strong> -
      <%= treatment.medication %> -
      <%= treatment.dosage %> -
      <%= formatted_datetime(treatment.administered_at) %>

      <%= link_to "Edit",
          edit_appointment_treatment_path(@appointment, treatment),
          class: "btn btn-sm btn-secondary" %>

      <%= button_to "Delete",
          appointment_treatment_path(@appointment, treatment),
          method: :delete,
          data: { turbo_confirm: "Are you sure?" },
          class: "btn btn-sm btn-danger" %>
    </li>
  <% end %>
</ul>

<div class="d-flex gap-2 mt-3">
  <%= link_to "Back", appointments_path, class: "btn btn-outline-secondary" %>
  <%= link_to "Edit Appointment", edit_appointment_path(@appointment), class: "btn btn-secondary" %>
  <%= button_to "Delete Appointment", @appointment, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-danger" %>
</div>